@media(min-width: 1025px) {
    .allpro {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        overflow-y: scroll;
        height: 600px;
    }
    .allpro::-webkit-scrollbar{      
        width:10px;
    }
    .allpro::-webkit-scrollbar-thumb{      
        background-color: #681c7c50;
    }
    .allpro::-webkit-scrollbar-track{      
        background-color: transparent;
    }
    .allpro::-webkit-scrollbar-thumb:hover{      
        background-color: #681c7c80;
    }
    .cartProject {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        grid-template-rows: repeat(5, auto);
        grid-template-rows: repeat(auto-fit, minmax(20px 1fr));
        grid-template-rows: repeat(auto-fill, minmax(20px 1fr));
        margin: 30px 0;
        background-color: #00000095;
        position: relative;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        width: 90%;
    }
    figure {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 10px;
    }
    div.LazyLoad.is-visible{
        justify-self: center;
        align-items: center;
    }
    .tit {
        grid-area: 1 / 1 / 2 / 2;
        height: auto;
        font-size: 3rem;
        padding: 5px;
        padding-top: 15px;
        margin: 0;
        align-self: center;
        justify-self: center;
    }
    .tec {
        grid-area: 2 / 1 / 3 / 2;
        height:auto;
        font-size: 1.2rem;
        margin-top: -5px;
        font-family: 'Shadows Into Light', cursive;
        color: #ffffff;
        text-align: center;
        align-self: start;
        justify-self: center;
    }
    .git, .des {
        background-color: #00000095;
        border-radius: 5px;
    }

    .git:hover, .des:hover {
        background-color: #681c7c90;
        border-radius: 5px;
        border-color: #681c7c;
    }
    .icon {
        grid-area: 1 / 1 / 2 / 2;
        width: 40px;
        height: auto;
        padding: 0px 10px;
        padding-top: 10px;
        align-self: start;
    }
    .oks{
        grid-area: 4 / 1 / 5 / 2;
        display:flex;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 15px;
    }
    .links, .linksg {
        font-size: 1.5rem;
        color: #cfa8bb;
        font-family: 'Shadows Into Light', cursive;
        align-self: start;
        justify-self: start;
    }
    .img {
        width: 400px;
        height: auto;
    }
    .animates:before,
    .animates:after {
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        background: linear-gradient(90deg, #7178df50, #00ffff50, #40cfff50, #63b4ff50);
        background-size: 300%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: -1;
        animation: gradients 10s ease infinite;
        border-radius: 10px;
    }
    @keyframes gradients {
        0% {
            background-position: 0% 200%;
        }

        50% {
            background-position: 200% 0%;
        }

        100% {
            background-position: 0% 330%;
        }
    }
    .animates:after {
        filter: brightness(1.4);
        filter: drop-shadow(16px 16px 20px #fff);
        filter: blur(15px);
    }
}
//Mobile
@media (min-width: 320px) and (max-width: 480px) and (orientation:portrait){
    .allpro {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
       // overflow-y: scroll;
       // height: 500px;
        justify-content: center;
    }
    /* .allpro::-webkit-scrollbar{      
        width:10px;
    }
    .allpro::-webkit-scrollbar-thumb{      
        background-color: #681c7c50;
    }
    .allpro::-webkit-scrollbar-track{      
        background-color: transparent;
    }
    .allpro::-webkit-scrollbar-thumb:hover{      
        background-color: #681c7c80;
    } */
    .cartProject {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        grid-template-rows: repeat(5, auto);
        grid-template-rows: repeat(auto-fit, minmax(20px 1fr));
        grid-template-rows: repeat(auto-fill, minmax(20px 1fr));
        margin: 15px 0;
        background-color: #00000095;
        position: relative;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        width: 95%;
    }
    figure {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 0px;
    }
    div.LazyLoad.is-visible{
        justify-self: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .tit {
        grid-area: 1 / 1 / 2 / 2;
        height: auto;
        font-size: 1.8rem;
        padding: 0px;
        padding-top: 15px;
        margin: 0;
        align-self: center;
        justify-self: center;
    }
    .tec {
        grid-area: 2 / 1 / 3 / 2;
        height:auto;
        font-size: 0.8rem;
        margin-top: -5px;
        font-family: 'Shadows Into Light', cursive;
        color: #ffffff;
        text-align: center;
        align-self: start;
        justify-self: center;
    }
    .git, .des {
        background-color: #00000095;
        border-radius: 5px;
    }

    .git:hover, .des:hover {
        background-color: #681c7c90;
        border-radius: 5px;
        border-color: #681c7c;
    }
    .icon {
        grid-area: 1 / 1 / 2 / 2;
        width: 30px;
        height: auto;
        padding: 0px 10px;
        padding-top: 10px;
        align-self: start;
    }
    .oks{
        grid-area: 4 / 1 / 5 / 2;
        display:flex;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 10px;
    }
    .img {
        width: 200px;
        height: auto;
    }
    .animates:before,
    .animates:after {
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        background: linear-gradient(90deg, #7178df50, #00ffff50, #40cfff50, #63b4ff50);
        background-size: 300%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: -1;
        animation: gradients 10s ease infinite;
        border-radius: 10px;
    }
    @keyframes gradients {
        0% {
            background-position: 0% 200%;
        }

        50% {
            background-position: 200% 0%;
        }

        100% {
            background-position: 0% 330%;
        }
    }
    .animates:after {
        filter: brightness(1.4);
        filter: drop-shadow(16px 16px 20px #fff);
        filter: blur(10px);
    }
}
//Mobile horizontal
@media (min-width:399px) and (max-width:760px) and ( orientation:landscape){
    .allpro {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
       // overflow-y: scroll;
       // height: 500px;
        justify-content: center;
    }
    /* .allpro::-webkit-scrollbar{      
        width:10px;
    }
    .allpro::-webkit-scrollbar-thumb{      
        background-color: #681c7c50;
    }
    .allpro::-webkit-scrollbar-track{      
        background-color: transparent;
    }
    .allpro::-webkit-scrollbar-thumb:hover{      
        background-color: #681c7c80;
    } */
    .cartProject {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        grid-template-rows: repeat(5, auto);
        grid-template-rows: repeat(auto-fit, minmax(20px 1fr));
        grid-template-rows: repeat(auto-fill, minmax(20px 1fr));
        margin: 15px 0;
        background-color: #00000095;
        position: relative;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        width: 94%;
    }
    figure {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 0px;
    }
    div.LazyLoad.is-visible{
        justify-self: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .tit {
        grid-area: 1 / 1 / 2 / 2;
        height: auto;
        font-size: 2.1rem;
        padding: 0px;
        padding-top: 15px;
        margin: 0;
        align-self: center;
        justify-self: center;
    }
    .tec {
        grid-area: 2 / 1 / 3 / 2;
        height:auto;
        font-size: 1.1rem;
        margin-top: -5px;
        font-family: 'Shadows Into Light', cursive;
        color: #ffffff;
        text-align: center;
        align-self: start;
        justify-self: center;
    }
    .git, .des {
        background-color: #00000095;
        border-radius: 5px;
    }

    .git:hover, .des:hover {
        background-color: #681c7c90;
        border-radius: 5px;
        border-color: #681c7c;
    }
    .icon {
        grid-area: 1 / 1 / 2 / 2;
        width: 40px;
        height: auto;
        padding: 0px 10px;
        padding-top: 10px;
        align-self: start;
    }
    .oks{
        grid-area: 4 / 1 / 5 / 2;
        display:flex;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 10px;
    }
    .img {
        width: 280px;
        height: auto;
    }
    .animates:before,
    .animates:after {
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        background: linear-gradient(90deg, #7178df50, #00ffff50, #40cfff50, #63b4ff50);
        background-size: 300%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: -1;
        animation: gradients 10s ease infinite;
        border-radius: 10px;
    }
    @keyframes gradients {
        0% {
            background-position: 0% 200%;
        }

        50% {
            background-position: 200% 0%;
        }

        100% {
            background-position: 0% 330%;
        }
    }
    .animates:after {
        filter: brightness(1.4);
        filter: drop-shadow(16px 16px 20px #fff);
        filter: blur(10px);
    }
}
//Tablet
@media (min-width:481px) and (max-width:768px) and (orientation:portrait){
    .allpro {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        overflow-y: scroll;
        height: 500px;
        justify-content: center;
    }
    .allpro::-webkit-scrollbar{      
        width:10px;
    }
    .allpro::-webkit-scrollbar-thumb{      
        background-color: #681c7c50;
    }
    .allpro::-webkit-scrollbar-track{      
        background-color: transparent;
    }
    .allpro::-webkit-scrollbar-thumb:hover{      
        background-color: #681c7c80;
    }
    .cartProject {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        grid-template-rows: repeat(5, auto);
        grid-template-rows: repeat(auto-fit, minmax(20px 1fr));
        grid-template-rows: repeat(auto-fill, minmax(20px 1fr));
        margin: 15px 0;
        background-color: #00000095;
        position: relative;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        width: 94%;
    }
    figure {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 0px;
    }
    div.LazyLoad.is-visible{
        justify-self: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .tit {
        grid-area: 1 / 1 / 2 / 2;
        height: auto;
        font-size: 2.3rem;
        padding: 0px;
        padding-top: 15px;
        margin: 0;
        align-self: center;
        justify-self: center;
    }
    .tec {
        grid-area: 2 / 1 / 3 / 2;
        height:auto;
        font-size: 1.2rem;
        margin-top: -5px;
        font-family: 'Shadows Into Light', cursive;
        color: #ffffff;
        text-align: center;
        align-self: start;
        justify-self: center;
    }
    .git, .des {
        background-color: #00000095;
        border-radius: 5px;
    }

    .git:hover, .des:hover {
        background-color: #681c7c90;
        border-radius: 5px;
        border-color: #681c7c;
    }
    .icon {
        grid-area: 1 / 1 / 2 / 2;
        width: 40px;
        height: auto;
        padding: 0px 10px;
        padding-top: 10px;
        align-self: start;
    }
    .oks{
        grid-area: 4 / 1 / 5 / 2;
        display:flex;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 10px;
    }
    .img {
        width: 280px;
        height: auto;
    }
    .animates:before,
    .animates:after {
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        background: linear-gradient(90deg, #7178df50, #00ffff50, #40cfff50, #63b4ff50);
        background-size: 300%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: -1;
        animation: gradients 10s ease infinite;
        border-radius: 10px;
    }
    @keyframes gradients {
        0% {
            background-position: 0% 200%;
        }

        50% {
            background-position: 200% 0%;
        }

        100% {
            background-position: 0% 330%;
        }
    }
    .animates:after {
        filter: brightness(1.4);
        filter: drop-shadow(16px 16px 20px #fff);
        filter: blur(10px);
    }

}
//Tablet horizontal
@media (min-width:761px) and (max-width:1024px) and (orientation:landscape){
    .allpro {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        overflow-y: scroll;
        height: 600px;
    }
    .allpro::-webkit-scrollbar{      
        width:10px;
    }
    .allpro::-webkit-scrollbar-thumb{      
        background-color: #681c7c50;
    }
    .allpro::-webkit-scrollbar-track{      
        background-color: transparent;
    }
    .allpro::-webkit-scrollbar-thumb:hover{      
        background-color: #681c7c80;
    }
    .cartProject {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
        grid-template-columns: repeat(auto-fill, minmax(150px 1fr));
        grid-template-rows: repeat(5, auto);
        grid-template-rows: repeat(auto-fit, minmax(20px 1fr));
        grid-template-rows: repeat(auto-fill, minmax(20px 1fr));
        margin: 20px 0;
        background-color: #00000095;
        position: relative;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        width: 95%;
    }
    figure {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 10px;
    }
    div.LazyLoad.is-visible{
        justify-self: center;
        align-items: center;
    }
    .tit {
        grid-area: 1 / 1 / 2 / 2;
        height: auto;
        font-size: 3rem;
        padding: 5px;
        padding-top: 15px;
        margin: 0;
        align-self: center;
        justify-self: center;
    }
    .tec {
        grid-area: 2 / 1 / 3 / 2;
        height:auto;
        font-size: 1.2rem;
        margin-top: -5px;
        font-family: 'Shadows Into Light', cursive;
        color: #ffffff;
        text-align: center;
        align-self: start;
        justify-self: center;
    }
    .git, .des {
        background-color: #00000095;
        border-radius: 5px;
    }

    .git:hover, .des:hover {
        background-color: #681c7c90;
        border-radius: 5px;
        border-color: #681c7c;
    }
    .icon {
        grid-area: 1 / 1 / 2 / 2;
        width: 45px;
        height: auto;
        padding: 0px 10px;
        padding-top: 10px;
        align-self: start;
    }
    .oks{
        grid-area: 4 / 1 / 5 / 2;
        display:flex;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 15px;
    }
    .links, .linksg {
        font-size: 1.5rem;
        color: #cfa8bb;
        font-family: 'Shadows Into Light', cursive;
        align-self: start;
        justify-self: start;
    }
    .img {
        width: 380px;
        height: auto;
    }
    .animates:before,
    .animates:after {
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        background: linear-gradient(90deg, #7178df50, #00ffff50, #40cfff50, #63b4ff50);
        background-size: 300%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: -1;
        animation: gradients 10s ease infinite;
        border-radius: 10px;
    }
    @keyframes gradients {
        0% {
            background-position: 0% 200%;
        }

        50% {
            background-position: 200% 0%;
        }

        100% {
            background-position: 0% 330%;
        }
    }
    .animates:after {
        filter: brightness(1.4);
        filter: drop-shadow(16px 16px 20px #fff);
        filter: blur(10px);
    }
}